:root {
  --border-gray: hsla(220, 6%, 85%, 1);
  --border-dark-gray: hsla(220, 6%, 30%, 1);
  --text-gray: hsla(220, 6%, 47%, 1);
}

#footer {
  display: flex;
  flex-direction: column;
  color: var(--text-gray);
  height: 140px;
  border-top: 1px solid hsla(220, 6%, 85%, 1);
  /* background-color: var(--red-campari); */
  font-size: 0.75rem;
  line-height: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

#footer .enterprise-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
#footer .logo-container {
  width: 32px;
  height: 32px;
}


#footer ul {
  display: flex;
  gap: 0.5rem;
}

#footer li.divider {
  width: 1px;
  height: full;
  background-color: var(--border-dark-gray);
}