.bar-item {
  background: white;
  color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0px 16px;
}

.bar-item__info-container {
  width: 60%;
  padding-right: 15px;
  font-family: "Roboto Condensed";
  font-size: .75rem;
}
.bar-item__title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 1rem;
}

.bar-item__is-opening {
  padding-bottom: 7px;
}

.bar-item__is-opening__open {
  color: var(--light-green);
}

.bar-item__is-opening__closed {
  color: var(--red-campari);
}

.bar-item__rating {
  display:flex;
  align-items: center;
  gap: 4px;
  color: var(--dark-gray);
  font-weight: 400;
  margin: 7px 0;
}

.bar-item__claim-voucher-button {
  background-color: var(--red-campari);
  color: white;
  font-family: "Rubik";
  padding: 5px 10px;
}

.bar-item__bar-image-container {
  width: 160px;
  height: 130px;
}

.bar-item__bar-image-container_img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  overflow: hidden;
}

.bars-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bars-not-found__title {
  font-size: 1.5rem;
  font-family: "Rubik";
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .bars-not-found__title {
    font-size: 2rem;
  }
}