@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rubik";
  --red-campari: #c8102e;
  --dark-gray: #2f2f2f;
  --light-green: #4DA166;
}
#promotion-section {
  background-color: var(--red-campari);
  background-image: url('./assets/images/glass.png'),
    url('./assets/images/orange-right.png'),
    url('./assets/images/orange-left.png'),
    url('./assets/images/ice-1.png'),
    url('./assets/images/ice-2.png'),
    url('./assets/images/ice-3.png');
  background-position: 73% bottom,
    right bottom,
    left bottom,
    left bottom,
    right 70%,
    right 90%;
  background-size: 80%, 70%, 40%, 33%, 30%, 25%;
  background-repeat: no-repeat;
}

#claim-drink-button::before {
  content: url('./assets/icons/arrow-to-left.svg');
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#claim-drink-button::after {
  content: url('./assets/icons/arrow-to-right.svg');
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Find a Bar Section */

#find-a-bar-section {
  background-color: var(--red-campari);
}

/* Look your Campari Section */

#lock-your-campari-modal {
  background-color: var(--red-campari);
}

.font-roboto-condensed {
  font-family: "Roboto Condensed";
}

.font-rubik {
  font-family: "Rubik";
}

.bg-red-campari {
  background: var(--red-campari);
}
/* Styling Bar item (Tailwind behaves weirdly with elements dynamically inserted as strings) */
.bar-item {
  background: white;
  color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0px 16px;
}

.bar-item__info-container {
  width: 60%;
  padding-right: 15px;
  font-family: "Roboto Condensed";
  font-size: .75rem;
}
.bar-item__title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 1rem;
}

.bar-item__is-opening {
  padding-bottom: 7px;
}

.bar-item__is-opening__open {
  color: var(--light-green);
}

.bar-item__is-opening__closed {
  color: var(--red-campari);
}

.bar-item__rating {
  display:flex;
  align-items: center;
  gap: 4px;
  color: var(--dark-gray);
  font-weight: 400;
  margin: 7px 0;
}

.bar-item__claim-voucher-button {
  background-color: var(--red-campari);
  color: white;
  font-family: "Rubik";
  padding: 5px 10px;
}

.bar-item__bar-image-container {
  width: 160px;
  height: 130px;
}

.bar-item__bar-image-container_img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  overflow: hidden;
}