@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rubik";
  --red-campari: #c8102e;
  --dark-red: #94041c;
  --dark-gray: #2f2f2f;
  --light-green: #4DA166;
  --light-red: #EA5D74;
  --background-modal-transparency: #00000066;
}
#promotion-section {
  background-color: var(--red-campari);
  background-image: 
    url('./assets/images/orange-right.png'),
    url('./assets/images/orange-left.png'),
    url('./assets/images/campari-cup.png'),
    url('./assets/images/campari-bottle.png')
  ;
  background-position: 
    right bottom,
    left bottom,
    76% bottom,
    12% bottom;
  background-size: 63%, 40%, 47%, 47%;
  background-repeat: no-repeat;
}

#claim-drink-button::before {
  content: url('./assets/icons/arrow-to-left.svg');
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#claim-drink-button::after {
  content: url('./assets/icons/arrow-to-right.svg');
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 678px) {
  #promotion-section {
    background-position: 
    right bottom,
    left bottom,
    70% bottom,
    35% bottom;
  background-size: 520px, 350px, 200px, 200px;
  background-repeat: no-repeat;
  }
}

@media (min-width: 1040px) {
  #promotion-section {
    background-position: 
    right bottom,
    left bottom,
    63% bottom,
    40% bottom;
  background-size: 520px, 350px, 200px, 200px;
  background-repeat: no-repeat;
  }
}

@media (min-width: 1440px) {
  #promotion-section {
    background-position: 
    right bottom,
    left bottom,
    58% bottom,
    40% bottom;
  background-size: 520px, 350px, 205px, 205px;
  background-repeat: no-repeat;
  }
}

@media (min-width: 1600px) {
  #promotion-section {
    background-position: 
    right bottom,
    left bottom,
    58% bottom,
    40% bottom;
  background-size: 520px, 350px, 220px, 220px;
  background-repeat: no-repeat;
  }
}

/* Find a Bar Section */

#find-a-bar-section {
  background-color: var(--red-campari);
}

/* Look your Campari Section */

#lock-your-campari-modal {
  background-color: var(--red-campari);
}

.font-roboto-condensed {
  font-family: "Roboto Condensed";
}

.font-rubik {
  font-family: "Rubik";
}

.bg-red-campari {
  background: var(--red-campari);
}

.shadow-container {
  position: relative;
}
.shadow-container::before {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0px 12px rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 10;
}  